@import '@styles/util/__util';
@import "@styles/settings/__settings";

.products {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 3em;


}

.productTitle {
  font-size: 1.4em;
  margin: .4em 0 0;
}

.productPrice {
  margin: .4 0 0;
}

.productImage {
  @extend %card-image;
  transform: rotate(-2deg) scale(1) translateY(-1em);
  transition: transform .1s;

  &:hover {
    transform: rotate(0) scale(1.1) translateY(-1em);
    transition: transform .2s;
  }
}

.discover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4em;

  h2 {
    font-size: 1.2em;
    margin-top: 0;
  }

}

.search {
  input {
    padding: .5em .6em;
    background: none;
    border: 5px solid grey;

    &:focus {
      outline: 0;
      border: 5px solid $color_hyperbros_green;
      box-shadow: 0 0 10px lighten($color_hyperbros_green, 10);
    }
  }
}

.allegianceIsActive {
  border: solid 5px $color_hyperbros_blue;
}

.allegiances {

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: .5em;
  }
}