@import "@styles/settings/__settings";
@import "@styles/util/__util";

.productWrapper {
  display: flex;
}

.productImage {
  @extend %card-image;
  width: 50%;
  margin-right: 2em;
  transform: rotate(2deg) scale(0.9) translateY(-1em);
  transition: transform .2s;

  &:hover {
    transform: rotate(-3deg) scale(1) translateY(-1em);
    transition: transform .3s;
  }
}


.productPrice {
  margin: .4 0 0;
}