.header {
  width: 100%;
  background-color: lightblue;
  color: white;
 p {
   margin: 0;
 }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.headerTitle {
  font-size: 2em;
}

.headerCart {
  button {
    background: transparent;
    color: inherit;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

  svg {
    margin-right: .5em;
  }
}
}